{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="cart-container">

<h2>Your Cart</h2>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Subtotal</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    {% for item in cart_items %}
        <tr>
            <td>
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" width="80"><br>
                {% endif %}
                {{ item.product.name }}
            </td>

            <td>${{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.total_price }}</td>

            <td>
                <a href="{% url 'remove_from_cart' item.id %}" class="remove-btn">
                    Remove
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" class="empty">
                Cart is empty
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3 class="total">Total: ${{ total }}</h3>

<a href="{% url 'home' %}" class="continue-btn">Continue Shopping</a>

</div>
{% endblock %}
