{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  
  <!-- Email -->
  <div>
    <div class="mb-2 font-bold text-[14px]">
      <label for="id_username">Email</label>
    </div>
    <input
      type="text"
      id="id_username"
      name="username"
      class="bg-[#08070a] w-full py-2 mb-1 rounded-lg px-3 placeholder:text-gray-700 placeholder:text-[12px] placeholder:font-bold"
      placeholder="example@gmail.com"
      required
    />
  </div>

  <!-- Password -->
  <div>
    <div class="mb-2 font-bold text-[14px]">
      <label for="id_password">Password</label>
    </div>
    <input
      type="password"
      id="id_password"
      name="password"
      class="bg-[#08070a] py-2 w-full rounded-lg px-3 placeholder:text-gray-700 placeholder:text-[12px] placeholder:font-bold"
      placeholder="* * * * * * * * * * *"
      required
    />
  </div>

  <!-- login button -->
  <div class="mt-4">
    <button type="submit" class="w-full mb-2 bg-white rounded-lg text-gray-600 py-2">
      Login
    </button>
  </div>
  <a href="{% url 'register' %}">
  <span class="text-white font-bold hover:underline cursor-pointer">
    Sign up
  </span>
</a>
{% if form.errors %}
  <div class="text-red-500 text-[12px] mb-2">
    Invalid username or password.
  </div>
{% endif %}

</form>

{% endblock %}
